{% extends "base.html" %}

{% load i18n %}

{% block title %}Geblokkeerd{%endblock %}

{% block content %}
    <h2>Account geblokkeerd</h2>
    <p>Je account is geblokkeerd. Neem contact op met de beheerder.</p>
    <table class="table">
        <tr>
            <td>Naam</td>
            <td>{{profile.name}}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{profile.email}}</td>
        </tr>
    </table>
    <a href="{% url 'logout' %}" class="btn btn-primary">Uitloggen</a>
{% endblock %}