{% extends "base.html" %}

{% load i18n %}

{% block title %}Logout{%endblock %}

{% block content %}
	<h2>Er is iets fout gegaan</h2>
	<p>Er is iets fout gegaan tijdens het inloggen. Probeer het opnieuw.</p>
	<a href="{% url 'login' %}" class="btn btn-primary">Login</a>
{% endblock %}