{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="export_users/" method="POST">
            {% csrf_token %}
                <input type="submit" value="Export users">
        </form>
        <br>
        <form action="export_cases/" method="POST">
            {% csrf_token %}
                <input type="submit" value="Export cases">
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}