{% extends 'admin/base_site.html' %}
{% load i18n l10n admin_urls static %}

{% block content %}

    <p>{% blocktranslate %}Weet u zeker dat u wilt exporteren?{% endblocktranslate %}</p>
    <form method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="action" value="./">
    <input type="hidden" name="post" value="yes">
    <input type="submit" value="{% translate 'Ja, ik weet het zeker' %}">
    <a href="../" class="button" style="padding: 10px" >{% translate "Nee, ga terug" %}</a>
    </div>
    </form>

{% endblock %}