{% extends "base.html" %}

{% block content %}
	<h1>Reactie verwijderen</h1>
	<form action="/comments/delete/{{comment.id}}" method="post">
		{% csrf_token %}
		<p>Weet je zeker dat je deze reactie wil verwijderen?</p>
		<button type="submit" class="btn btn-danger">Verwijder</button>
    	<a href="/cases/view/{{comment.case.id}}" class="btn btn-link">Annuleren</a>
    </form>
{% endblock %}