{% extends "base.html" %}

{% block content %}
	<h1>Item wijzigen</h1>
	<form action="/cases/edit/{{case.id}}" method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

		<div class="mb-3">
			<label>{{form.casetype.label}}</label>
			{{form.casetype.errors}}
			{{form.casetype}}
		</div>

		<div class="mb-3">
			<label>{{form.name.label}}</label>
			{{form.name.errors}}
			{{form.name}}
		</div>

		<div class="mb-3">
			<label>{{form.description.label}}</label>
			{{form.description.errors}}
			{{form.description}}
		</div>

		<div class="mb-3">
			<label>{{ form.attachments.label }}</label>
			{{form.attachments.errors}}
			{{form.attachments}}
		</div>

		<div class="mb-3">
			<label for="publication_date">{{form.publication_date.label}}</label>
			{{form.publication_date.errors}}
			{{form.publication_date}}
		</div>

		<div class="mb-3">
			<label for="expiration_date">{{form.expiration_date.label}}</label>
			{{form.expiration_date.errors}}
			{{form.expiration_date}}
		</div>

		<div class="mb-3">
			<label>{{form.deadline.label}}</label>
			{{form.deadline}}
		</div>

		<div class="mb-3">
			<label>{{form.tags.label}}</label>
			{{form.tags.errors}}
			{{form.tags}}
		</div>

		<div class="mb-3">
			<label>{{form.notes.label}}</label>
			{{form.notes.errors}}
			{{form.notes}}
		</div>

		<button type="submit" class="btn btn-primary">Wijzigen</button>
	    <a href="/cases/view/{{case.id}}" class="btn btn-link">Annuleren</a>
    </form>
{% endblock %}
