{% extends "base.html" %}

{% block content %}
<h1>Reactie wijzigen</h1>
<form action="/comments/edit/{{comment.id}}" method="post" enctype="multipart/form-data" novalidate>
	{% csrf_token %}

	<div class="mb-3">
		<label for="description">{{ form.description.label }}</label>
		{{form.description.errors}}
		{{form.description}}
	</div>

	<div class="mb-3">
		<label for="attachments">{{ form.attachments.label }}</label>
		{{form.attachments.errors}}
		{{form.attachments}}
	</div>

	<button type="submit" class="btn btn-primary">Wijzigen</button>
	<a href="/cases/view/{{comment.case.id}}" class="btn btn-link">Annuleren</a>
</form>
{% endblock %}