{% extends "base.html" %}

{% block content %}
    <div class="login">
        <form method="post" class="login">
            <h2>Wilt u even inloggen?</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}


            <label for="username" class="visually-hidden">E-mail</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="E-mail" required autofocus>

            <label for="password" class="visually-hidden">Wachtwoord</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="Wachtwoord" required>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        </form>
    </div>
{% endblock %}