{% extends "base.html" %}

{% block content %}
	{% include "partials/case_header.html" %}

	{% for log in case.logs.all %}
		<div class="row mt-4">
			<div class="col-sm-1">
				<a class="avatar" style="background-image: url('{{log.performed_by.icon_url}}');"></a>
			</div>
			<div class="col-sm-11">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ log.performed_by.name }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ log.created_on }}</h6>
						<div class="card-text">
							{% if log.event == 'changed_phase' %}
								Fase veranderd
							{% elif log.event == 'commented' %}
								Reactie geplaatst
							{% elif log.event == 'claimed' %}
								In behandeling genomen
							{% elif log.event == 'unclaimed' %}
								Behandelaar verwijderd
							{% elif log.event == 'created' %}
								Item aangemaakt
							{% elif log.event == 'updated' %}
								Item gewijzigd
							{% elif log.event == 'changed_responsible' %}
								Verantwoordelijke gewijzigd
							{% elif log.event == 'removed_responsible' %}
								Verantwoordelijke verwijderd
							{% else %}
								{{log.event}}
							{% endif %}

							{% if log.to %}
								naar {{log.to}}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}