{% if case.casetype.is_autoresponder_active %}
    <div class="mb-3 p-2 text-center bg-warning">
    Voor items van het type {{ case.casetype.name }} is een autoresponder actief.
    <a data-bs-toggle="modal"
       data-bs-target="#autoresponder-info"
       class="btn btn-sm btn-outline-info">
        <span class="oi oi-info"></span>
    </a>
        <div class="modal"
             role="dialog"
             id="autoresponder-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                        Wat betekent deze melding?
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            
                        </button>
                    </div>
                    <div class="modal-body text-start">
                        <p>
                            De beheerder heeft een autoresponder ingesteld voor dit type item.
                        </p>
                        <p>
                            Als de autoresponder onterecht actief is kunt u deze deactiveren via de CaseType beheer pagina's.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="d-flex flex-row justify-content-between">
	<div>
		<h1>Nr. {{case.id}} - {{case.name}}</h1>
		{% for tag in case.tags %}
			<span class="badge text-bg-secondary">{{tag}}</span>
		{% endfor %}
	</div>
	<div class="btn-group mb-auto">
		<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Acties
		</button>
		<div class="dropdown-menu dropdown-menu-end">
			<a href="/cases/edit/{{case.id}}" class="dropdown-item">Item wijzigen</a>
			{% if case.manager %}
				<form id="unclaim" action="/cases/unclaim/{{case.id}}" method="post">{% csrf_token %}</form>
				<a href="#" onClick="$('#unclaim').submit();" class="dropdown-item">Behandelaar verwijderen</a>
			{% else %}
				<form id="claim" action="/cases/claim/{{case.id}}" method="post">{% csrf_token %}</form>
				<a href="#" onClick="$('#claim').submit();" class="dropdown-item">Behandelen</a>
			{% endif %}
			{% if case.responsible %}
				<form id="removeResponsible" action="/cases/remove_responsible/{{case.id}}" method="post">{% csrf_token %}</form>
				<a href="#" onClick="$('#removeResponsible').submit();" class="dropdown-item">Verantwoordelijke verwijderen</a>
			{% endif %}
			{% if not delete_case_disabled %}
				<a href="/cases/delete/{{case.id}}" class="dropdown-item">Item verwijderen</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-sm-4">
		<p>
			<b>Startdatum:</b> {{ case.created_on }}<br />
			<b>Deadline:</b> {% if case.deadline %}{{case.deadline}}{% else %}-{% endif %} <br />
		</p>
	</div>

	<div class="col-sm-4">
		<p><b>Fase:</b> {% if case.current_phase %}{{case.current_phase.name}}{% else %}-{% endif %}<br />
		{% if case.latest_phase_change %}
			<b>Looptijd:</b> {{ case.latest_phase_change|timesince }}
		{% endif %}
		</p>
	</div>

	<div class="col-sm-4">
		<p>
		{% if case.manager %}
			<b>Behandelaar:</b> {{case.manager}}<br />
		{% else %}
			<b>Behandelaar:</b> -<br />
		{% endif %}

		{% if case.responsible %}
			<b>Verantwoordelijke:</b> {{case.responsible}}
		{% else %}
			<b>Verantwoordelijke:</b> -
		{% endif %}
		</p>
	</div>
</div>

<ul class="nav nav-tabs">
	{% with url_name=request.resolver_match.url_name %}
		<li class="nav-item">
			<a class="nav-link {% if url_name == 'view_case' %}active{% endif %}" href="/cases/view/{{case.id}}">Overzicht</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {% if url_name == 'view_case_logs' %}active{% endif %}" href="/cases/view/{{case.id}}/logs">Geschiedenis</a>
		</li>
	{% endwith %}
</ul>