<div class="modal" tabindex="-1" role="dialog" id="modal-{{case.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{case.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% if case.external_author %}
                        <strong>Externe auteur:</strong> {{ case.external_author }}<br><br>
                    {% endif %}
                    {{ case.description|safe }}
                    {% for attachment in case.attachments.all %}
                        <a href="{{attachment.file.url}}">{{ attachment.filename }}</a><br />
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
