{% load active %}
<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="{% url 'cases' %}">
        {% include 'partials/logo.html' %}
        <span>{{ request.get_host }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto">
            <li class="nav-item {% active 'cases' %}">
                <a class="nav-link" href="{% url 'cases' %}">Items<span class="visually-hidden">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown dropdown-menu-end">
                <a class="user-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-menu__avatar" style="background-image: url('{{request.user.icon_url}}');"></div>
                    <div class="user-menu__name">{{ request.user.name }}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu">
                    <a class="dropdown-item" href="{% url 'notifications' %}">Notificaties</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Uitloggen</a>
                    {% if user.is_admin %}
                        <a class="dropdown-item" href="/admin/">Admin</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>