.navbar {
  padding-left: 2em;
  padding-right: 2em;
}

.navbar-dark {
  background-color: #000;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand span {
  vertical-align: middle;
  padding: .5rem 1rem;
}
.navbar-brand svg {
  vertical-align: middle;
  height: 40px;
  width: auto;
}

.break-word {
  word-break: break-all;
}

.main.container {
  margin-top: 7em;
  margin-bottom: 2em;
}

.discussion-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.history-content {
  padding-top: 1em;
}

.caselog {
  margin: 1em;
}

.notifications-casetype {
  margin-bottom: 4em;
}

iframe.form-control {
  padding: 0;
  border: 0;
}

.user-menu {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-menu:hover {
  cursor: pointer;
}

.user-menu::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  color: #fff;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.user-menu__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-menu__name {
  display: flex;
  padding: 0 0 0 0.8rem;
  color: #fff;
}

.___margin-bottom {
  margin: 0 0 1rem 0;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

body.login {
  background-color: #f3f3f3;
}

.login-logo {
  margin: 0 auto 3rem auto;
  width: 50px;
  height: 50px;
}

.login-container {
  border: 1px solid #d8e2f0;
  box-shadow: 0 0 10px 0 rgba(19, 29, 41, 0.05);
  background-color: #fff;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 25rem;
}

.break-word {
  word-break: break-all;
}

.errorlist {
  color: #dc3545;
}

a:link { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: underline; 
}

a span {
  text-decoration:none;
  display: inline-block;
}

li p:last-child {
  margin-bottom: 0;
}